<div class="mt-4 mb-5">
    <h1 class="text-center display-4 mb-5 fw-500 text-white">Alumnos de Howgwarts</h1>
    <div class="row">
        <% @hogw.each do |x| %>
            <div class="col-3 mb-4">
                <div class="card"">
                    <%= image_tag 'pro.png' %>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item fw-600 fs-4"><%= x.name%></li>
                            <li class="list-group-item"> <span class="fw-500">Ubicación: </span> <%= x.location%></li>
                            <li class="list-group-item"> <span class="fw-500">Casa: </span> <%= x.house %></li>
                        </ul>
                    </div>
                  </div>
            </div>
        <%end%>
    </div>
</div>